### Looking at Global Reforestation Opportunity Assessment (GROA) data

In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('./data/biomass_litter_CWD.csv',encoding='latin-1')

df.head()

,measurement.id,plot.id,site.id,study.id,sites.sitename,refor.type,species,prior,prior.disturbance.notes,stand.age,...,mean_ha,covar_1,coV1_value,covar_2,coV2_value,covar_3,coV3_value,density,sand.silt.clay,allometry
0,561,8878,7,1097,Cajueiro,SNR,NaN,PA,NaN,15.0,...,41.362146,min_dbh,5.0,NaN,NaN,NaN,NaN,NaN,NaN,biome-specific
1,562,8879,7,1097,Cajueiro,SNR,NaN,PA,NaN,15.0,...,32.587298,min_dbh,5.0,NaN,NaN,NaN,NaN,NaN,NaN,biome-specific
2,563,8880,7,1097,Cajueiro,SNR,NaN,PA,NaN,20.0,...,42.463184,min_dbh,5.0,NaN,NaN,NaN,NaN,NaN,NaN,biome-specific
3,564,8881,7,1097,Cajueiro,SNR,NaN,PA,NaN,20.0,...,58.631269,min_dbh,5.0,NaN,NaN,NaN,NaN,NaN,NaN,biome-specific
4,565,8882,7,1097,Cajueiro,SNR,NaN,PA,NaN,27.0,...,50.164171,min_dbh,5.0,NaN,NaN,NaN,NaN,NaN,NaN,biome-specific

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11105 entries, 0 to 11104
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   measurement.id           11105 non-null  int64
 1   plot.id                  11105 non-null  int64
 2   site.id                  11105 non-null  int64
 3   study.id                 11105 non-null  int64
 4   sites.sitename           11105 non-null  object
 5   refor.type               11105 non-null  object
 6   species                  6676 non-null   object
 7   prior                    4493 non-null   object
 8   prior.disturbance.notes  3463 non-null   object
 9   stand.age                11105 non-null  float64
 10  date                     2954 non-null   float64
 11  n                        11060 non-null  float64
 12  sub_n                    1319 non-null   float64
 13  plot.size                10806 non-null  float64
 14  variables.name           11105 non-null  object
 15  mean_ha                  11105 non-null  float64
 16  covar_1                  7160 non-null   object
 17  coV1_value               6998 non-null   float64
 18  covar_2                  249 non-null    object
 19  coV2_value               233 non-null    float64
 20  covar_3                  35 non-null     object
 21  coV3_value               36 non-null     float64
 22  density                  8837 non-null   float64
 23  sand.silt.clay           1576 non-null   object
 24  allometry                10877 non-null  object
dtypes: float64(10), int64(4), object(11)
memory usage: 2.1+ MB

In [14]:
len(df['site.id'].unique())

2226